body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #74f1cc75, #ccece8);
    color: #118374;
}

header {
    background-color: #118374;
    background: linear-gradient(to right, #118374, #07bba3);
    color: white;
    padding: 1em;
    padding-left: 2em;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
main {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section {
    background: rgba(255, 255, 255, 0.9);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

section:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon {
    font-size: 3em;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon:hover {
    color: #555;
}

#record-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 1em auto;
    border: 2px solid rgba(51, 51, 51, 0.9);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#record-icon.active {
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    border-color: rgba(255, 0, 0, 0.9);
}

#transcription {
    font-size: 1.2em;
    color: #333;
    background: rgba(249, 249, 249, 0.9);
    padding: 1em;
    border-radius: 8px;
    min-height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

#transcription:focus {
    background: rgba(249, 249, 249, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    text-align: center;
    padding: 1em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
